<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta charset="UTF-8" />
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <style>
        body {
            text-align: center;
            padding-top: 50px;
            overflow: hidden;
        }

        #searchBox {
            margin: 0 auto;
        }

        #contentBox {
            border: 1px solid blue;
            margin: 30px auto;
            width: 100%;
        }
    </style>
</head>
<body>

<div id="searchBox">
    <input type="text" class="text-input" id="kwInp"/>
    <button class="button" id="sub">搜索</button>
</div>
<div id="contentBox">&nbsp;
</div>

</body>
<script>
    $('#sub').click(function () {
        var keyword = $('#kwInp').val();
        var reqUrl = 'https://www.baidu.com';
        $.get(reqUrl, function (data) {
            $('#contentBox').html(data)//把data输出
        });
    });


</script>
</html>